<router-outlet> </router-outlet>
<div>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
    reprehenderit ullam dolorem sed, necessitatibus odit ex sit dolor? Ea iste
    sequi mollitia! Earum, sint qui labore alias magni fugiat sapiente.
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">Col</div>
    <div class="col">Col</div>
    <div class="col">Col</div>
    <div class="col">Col</div>
    <div class="col"><button class="btn btn-primary">Button</button></div>
  </div>
</div>
